<a href="https://colab.research.google.com/github/Ding10910357/day2.1/blob/main/%E5%AF%A6%E4%BD%9C%E5%AE%B9%E5%99%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [1, 2, 3, 4, 5]
print(my_list[0])
my_list.append(6)
print(my_list)

1
[1, 2, 3, 4, 5, 6]

In [2]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict["name"])
my_dict["age"] = 31
print(my_dict)

John
{'name': 'John', 'age': 31, 'city': 'New York'}

In [3]:
my_tuple = (1, 2, 3)
print(my_tuple[0])

1

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)